alembic==0.8.8
BareNecessities==0.2.8
cffi==1.10.0
cryptography==1.7.2
elasticsearch==5.1.0
enum34==1.1.6
Flask==0.10.1
Flask-Cors==3.0.2
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
greenlet==0.4.7
gunicorn==19.7.1
idna==2.5
certifi==2017.7.27.1
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.7.3
jsonschema==2.5.1
jwt==0.5.2
Mail==2.1.0
Mako==1.0.4
MarkupSafe==0.23
oauthlib==2.0.2
pyasn1==0.2.3
pycparser==2.17
PyMySQL==0.7.9
python-editor==1.0.1
pytz==2017.2
requests==2.7.0
requests-oauthlib==0.8.0
six==1.10.0
SQLAlchemy==1.1.1
SQLAlchemy-Utils==0.32.14
typing==3.5.3.0
urllib3==1.26.5
Werkzeug==0.10.4
WTForms==2.1
